$colors: (
    'common': (
        'white': #ffffff,
        'black': #000,
        'gray': #F4F5FA,
    ),
    'theme': (
        'primary': #7FD957,
        'secondary': #16243E,
    ),
    'gradient':(
        'primary': linear-gradient(90deg, #5CB85C 0%, #7FD957 100%),
    ),
    'heading': (
        'primary': #16243E,
        'secondary': #16243E,
    ),
    'text': (
        'body':#333F4D,
        '1':#67687A,
        '2':#757474,
    ),
    'border': (
        'primary': #EAEBED,
        'secondary': #F0F2F4,
    )
);

$white : #fff;
$black : #020B18;
$theme-primary : #7FD957;
$border-primary : #EAEBED;